services:
    app:
        build: .
        depends_on:
            olympics:
                condition: service_healthy
        environment:
            DB_HOST: olympics
        networks:
            - default

    olympics:
        image: postgres:17
        ports:
            - "5444:5432"
        environment:
            POSTGRES_USER: olympics
            POSTGRES_PASSWORD: olympics
            POSTGRES_DB: olympics
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "olympics"]
            interval: 10s
            timeout: 5s
            retries: 5

    migrations:
        image: migrate/migrate
        volumes:
        - ./migrations/:/migrations
        depends_on:
            olympics:
                condition: service_healthy
        command: -path=/migrations/ -database=postgres://olympics:olympics@olympics:5432/olympics?sslmode=disable up